# VS Code user settings
.vscode/
.vs/

# VS user settings
*.sln

# .NET Core build output
bin/
obj/

# Development settings
*.Development.json

# Development database
Notes.Api/notes.db
Notes.Api/notes.db-shm
Notes.Api/notes.db-wal

# appsettings.json files
appsettings.json
appsettings.*.local.json
appsettings.Development.json